{% load staticfiles %}

<html>
	<head>
		<title>Exercise 3</title>
		<link rel="stylesheet" href="{% static 'css/mylists.css'%}">
	</head>
	<body>
		<div class="page-header">
			<ul>
				<li><a href="/car/" class="lists">Car</a></li>
				<li><a href="/manufacturer/" class="lists">Manufacturer</a></li>
				<li><a href="/person/" class="lists">Person</a></li>
				{% if user.is_authenticated %}
        		<li><a href="{% url 'logout' %}" class="logout">Log out</a></li>
        		{% endif %}	
			</ul>
			

		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>