{% extends 'mylists/base.html' %}

{% block content %}
<div class="searchbar">
<form method="GET">
    <table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr>
    		<td>{{ filter.form.firstname }}</td>
    		<td>{{ filter.form.lastname }}</td>
		</tr>
    </table>
    <button type="submit">Search</button>
  </form>
</div>
<div class="personlists">
	<table>
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	  </tr>
	  {% for persons in filter.qs %}
	  <tr>
	    <td><a href="{% url 'displaylist3' pk=persons.pk %}">{{ persons.firstname }}</a></td>
	    <td><a href="{% url 'displaylist3' pk=persons.pk %}">{{ persons.lastname }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>

<div class="buttonarea">
	<a href="add/" class="button">Add</a>
</div>
{% endblock %}