{% extends 'mylists/base.html' %}

{% block content %}
<div class="searchbar">
<form method="GET">
	<table>
		<tr>
			<th>Brand</th>
			<th>Model</th>
		</tr>
		<tr>
    		<td>{{ filter.form.carbrand }}</td>
    		<td>{{ filter.form.carmodel }}</td>
		</tr>
		<tr>
			<th>Manufacturer</th>
			<th>Bought By</th>
		</tr>
		<tr>
    		<td>{{ filter.form.manufacturer }}</td>
    		<td>{{ filter.form.bought_by }}</td>
		</tr>
    </table>
    <button type="submit">Search</button>
  </form>
</div>

<div class="carlists">
	<table>
	  <tr>
	    <th>Brand</th>
	    <th>Model</th>
	    <th>Manufacturer</th>
	    <th>Bought By</th>
	  </tr>
	  {% for cars in filter.qs %}
	  <tr>
	    <td><a href="{% url 'displaylist1' pk=cars.pk %}">{{ cars.carbrand }}</a></td>
	    <td><a href="{% url 'displaylist1' pk=cars.pk %}">{{ cars.carmodel }}</a></td>
	    <td><a href="{% url 'displaylist1' pk=cars.pk %}">{{ cars.manufacturer }}</a></td>
	    <td><a href="{% url 'displaylist1' pk=cars.pk %}">{{ cars.bought_by }}</a></td>
	  </tr>
	  {% endfor %}
	</table>
</div>

<div class="buttonarea">
	<a href="add/" class="button">Add</a>
</div>

{% endblock %}