{% extends 'mylists/base.html' %}

{% block content %}
<div class="searchbar">
<form method="GET">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
</div>
<div class="manufacturerlists">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Location</th>
	  </tr>
	  {% for manufacturers in filter.qs %}
	  <tr>
	    <td><a href="{% url 'displaylist2' pk=manufacturers.pk %}">{{ manufacturers.name }}</a></td>
	    <td><a href="{% url 'displaylist2' pk=manufacturers.pk %}">{{ manufacturers.location }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>

<div class="buttonarea">
	<a href="add/" class="button">Add</a>
</div>
{% endblock %}