{% extends 'mylists/base.html' %}

{% block content %}
<div class="searching">
<form method="get" action="." class="search" style="margin:auto;max-width:500px">
	<input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
	<button type="submit"><i class="fa fa-search">Search</i></button>
</form>
</div>
<div class="manufacturerlists">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Location</th>
	  </tr>
	  {% for manufacturers in manufacturer %}
	  <tr>
	    <td><a href="{% url 'displaylist2' pk=manufacturers.pk %}">{{ manufacturers.name }}</a></td>
	    <td><a href="{% url 'displaylist2' pk=manufacturers.pk %}">{{ manufacturers.location }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>

<div class="buttonarea">
	<a href="add/" class="button">Add</a>
</div>
{% endblock %}